# 千问 https://bailian.console.aliyun.com/#/home
# 例：QWEM_API_KEY= sk-XXX，无需添加引号
QWEN_API_KEY=

# 豆包 https://www.volcengine.com/product/doubao
DOUBAO_API_KEY=

# 百度千帆 https://cloud.baidu.com/product-s/qianfan_home
ERNIE_NEW_API_KEY=
QIANFAN_ACCESS_KEY=
QIANFAN_SECRET_KEY=

# 讯飞星火 https://xinghuo.xfyun.cn/sparkapi
SPARKAI_APP_ID=
SPARKAI_API_SECRET=
SPARKAI_API_KEY=

# 智谱清言 https://www.bigmodel.cn/console/overview
ZHIPU_API_KEY=