openai>=1.0
requests>=2.28.0
qianfan>=0.3.0
sparkai>=0.1.0
zhipuai>=2.0.0
websocket-client>=1.6.0
colorama>=0.4.6
spark_ai_python
pandas>=2.0.0
pyarrow>=14.0.1
matplotlib>=3.0.0
fastapi
uvicorn
httpx
python-dotenv
gradio
python-dateutil
pytz
playwright
beautifulsoup4
python-multipart
baidusearch